# Filtering, Ordering, and Limiting Data with SQL - Lab

## Introduction
In this lab, you will practice writing SQL `SELECT` queries that limit results based on conditions, using `WHERE`, `ORDER BY`, and `LIMIT`.

## Objectives
You will practice the following:

* Order the results of your queries by using `ORDER BY` (`ASC` & `DESC`)
* Limit the number of records returned by a query using `LIMIT`
* Write SQL queries to filter and order results

## The Data

Here's a database full of famous dogs!  The `dogs` table is populated with the following data:

|name      |age    |gender |breed           |temperament|hungry |
|----------|-------|-------|----------------|-----------|-------|
|Snoopy    |3      |M      |beagle          |friendly   |1      |
|McGruff   |10     |M      |bloodhound      |aware      |0      |
|Scooby    |6      |M      |great dane      |hungry     |1      |
|Little Ann|5      |F      |coonhound       |loyal      |0      |
|Pickles   |13     |F      |black lab       |mischievous|1      |
|Clifford  |4      |M      |big red         |smiley     |1      |
|Lassie    |7      |F      |collie          |loving     |1      |
|Snowy     |8      |F      |fox terrier     |adventurous|0      |
|NULL      |4      |M      |golden retriever|playful    |1      |

## Connecting to the Database

In the cell below, import `pandas` and `sqlite3`. Then establish a connection to the database `dogs.db`.

Look at all of the data in the table by selecting all columns from the `dogs` table with `pd.read_sql`.

In [1]:
# Your code here; imports, create a connection, select all
# Importing pandas and sqlite3
import pandas as pd
import sqlite3

# Establishing a connection to the database
conn = sqlite3.connect('dogs.db')

# Retrieving all the data from the dogs table
query = "SELECT * FROM dogs"
df = pd.read_sql(query, conn)

# Displaying the dataframe
print(df)

   id        name  age gender             breed  temperament  hungry
0   1      Snoopy    3      M            beagle     friendly       1
1   2     McGruff   10      M        bloodhound        aware       0
2   3      Scooby    6      M        great dane       hungry       1
3   4  Little Ann    5      F         coonhound        loyal       0
4   5     Pickles   13      F         black lab  mischievous       1
5   6    Clifford    4      M           big red       smiley       1
6   7      Lassie    7      F            collie       loving       1
7   8       Snowy    8      F       fox terrier  adventurous       0
8   9        None    4      M  golden retriever      playful       1

## Queries

Display the outputs for each of the following query descriptions.

### Select the name and breed for all female dogs

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>WHERE</code> with the <code>=</code> operator</p>
</details>

In [2]:
# Your code here
# Query to select the name and breed for all female dogs
query_female_dogs = "SELECT name, breed FROM dogs WHERE gender = 'F'"

# Executing the query and fetching the results
female_dogs_df = pd.read_sql(query_female_dogs, conn)

# Displaying the dataframe
print(female_dogs_df)

         name        breed
0  Little Ann    coonhound
1     Pickles    black lab
2      Lassie       collie
3       Snowy  fox terrier

### Select the number of dogs that do not have a name

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>COUNT</code> and <code>IS NULL</code></p>
</details>

In [3]:
# Your code here
# Query to select the number of dogs that do not have a name
query_dogs_without_name = "SELECT COUNT(*) AS num_dogs_without_name FROM dogs WHERE name IS NULL"

# Executing the query and fetching the result
dogs_without_name_df = pd.read_sql(query_dogs_without_name, conn)

# Displaying the result
print(dogs_without_name_df)

   num_dogs_without_name
0                      1

### Select the names of all dogs that contain the double letters `ff` or `oo`

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>LIKE</code>, <code>%</code>, and <code>OR</code></p>
</details>

In [4]:
# Your code here
# Query to select the names of dogs containing 'ff' or 'oo'
query_double_letters = "SELECT name FROM dogs WHERE name LIKE '%ff%' OR name LIKE '%oo%'"

# Executing the query and fetching the results
dogs_double_letters_df = pd.read_sql(query_double_letters, conn)

# Displaying the dataframe
print(dogs_double_letters_df)

       name
0    Snoopy
1   McGruff
2    Scooby
3  Clifford

### Select the names of all dogs listed in alphabetical order.  Notice that SQL lists the nameless dog first.

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>ORDER BY</code></p>
</details>

In [5]:
# Your code here
# Query to select the names of all dogs in alphabetical order
query_alphabetical_order = "SELECT name FROM dogs ORDER BY name ASC"

# Executing the query and fetching the results
dogs_alphabetical_order_df = pd.read_sql(query_alphabetical_order, conn)

# Displaying the dataframe
print(dogs_alphabetical_order_df)

         name
0        None
1    Clifford
2      Lassie
3  Little Ann
4     McGruff
5     Pickles
6      Scooby
7      Snoopy
8       Snowy

### Select the name and breed of only the hungry dogs and list them from youngest to oldest

In [6]:
# Your code here
# Query to select the name and breed of hungry dogs sorted by age
query_hungry_dogs = "SELECT name, breed FROM dogs WHERE hungry = 1 ORDER BY age ASC"

# Executing the query and fetching the results
hungry_dogs_df = pd.read_sql(query_hungry_dogs, conn)

# Displaying the dataframe
print(hungry_dogs_df)

       name             breed
0    Snoopy            beagle
1  Clifford           big red
2      None  golden retriever
3    Scooby        great dane
4    Lassie            collie
5   Pickles         black lab

### Select the oldest dog's name, age, and temperament

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>ORDER BY</code> with <code>LIMIT</code></p>
</details>

In [7]:
# Your code here
# Query to select the oldest dog's name, age, and temperament
query_oldest_dog = """
SELECT name, age, temperament 
FROM dogs 
WHERE age = (SELECT MAX(age) FROM dogs)
"""

# Executing the query and fetching the results
oldest_dog_df = pd.read_sql(query_oldest_dog, conn)

# Displaying the dataframe
print(oldest_dog_df)

      name  age  temperament
0  Pickles   13  mischievous

### Select the name and age of the three youngest dogs

In [8]:
# Your code here
# Query to select the name and age of the three youngest dogs
query_youngest_dogs = """
SELECT name, age 
FROM dogs 
ORDER BY age ASC 
LIMIT 3
"""

# Executing the query and fetching the results
youngest_dogs_df = pd.read_sql(query_youngest_dogs, conn)

# Displaying the dataframe
print(youngest_dogs_df)

       name  age
0    Snoopy    3
1  Clifford    4
2      None    4

### Select the name and breed of the dogs who are between five and ten years old, ordered from oldest to youngest

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>WHERE</code> with <code>BETWEEN</code></p>
</details>

In [9]:
# Your code here
# Query to select the name and breed of dogs between five and ten years old, ordered from oldest to youngest
query_dogs_between_5_and_10 = """
SELECT name, breed 
FROM dogs 
WHERE age BETWEEN 5 AND 10 
ORDER BY age DESC
"""

# Executing the query and fetching the results
dogs_between_5_and_10_df = pd.read_sql(query_dogs_between_5_and_10, conn)

# Displaying the dataframe
print(dogs_between_5_and_10_df)

         name        breed
0     McGruff   bloodhound
1       Snowy  fox terrier
2      Lassie       collie
3      Scooby   great dane
4  Little Ann    coonhound

### Select the name, age, and hungry columns for hungry dogs between the ages of two and seven.  This query should also list these dogs in alphabetical order.

In [10]:
# Your code here
# Query to select the name, age, and hungry columns for hungry dogs between the ages of two and seven
query_hungry_dogs_between_2_and_7 = """
SELECT name, age, hungry 
FROM dogs 
WHERE age BETWEEN 2 AND 7 
AND hungry = 1 
ORDER BY name ASC
"""

# Executing the query and fetching the results
hungry_dogs_between_2_and_7_df = pd.read_sql(query_hungry_dogs_between_2_and_7, conn)

# Displaying the dataframe
print(hungry_dogs_between_2_and_7_df)

       name  age  hungry
0      None    4       1
1  Clifford    4       1
2    Lassie    7       1
3    Scooby    6       1
4    Snoopy    3       1

## Close the Database Connection

In [11]:
# Your code here
# Closing the database connection
conn.close()

## Summary

Great work! In this lab you practiced writing more complex SQL statements to not only query specific information but also define the quantity and order of your results.